<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SeleniumwithJavaSuite">
    <listeners>
        <listener class-name="org.example.utils.ExtentTestListener"/>
    </listeners>
    <test name="AllTests">
        <packages>
            <package name="org.example.tests"/>
        </packages>
    </test>
</suite>